---
import Base from '@layouts/Base.astro';
---

<Base title="Current Workplan">
  <h1>Current Workplan</h1>

  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text">Workplan overview coming soon.</p>
    </div>
  </div>
</Base>
