---
import FileLink from '@components/common/FileLink.astro';
---

<div>
  <h1>BDC Publications Guidelines</h1>
  <p>
    This publication guidance document is to provide a set of Consortial goals related to publications and to provide guidelines in support of the goals. The goals and guidelines apply to authorship, acknowledgements, and metrics tracking related to the dissemination of jointly produced intellectual
    products regarding technical or policy approaches to building the BDC platform(s), or to results of analysis of publicly released TOPMed data (publication of pre-release data may be subject to additional restrictions or requirements). Publication refers to a range of options including
    traditional peer-reviewed journal articles, conference proceedings and presentations, abstracts, posters and press releases.
  </p>
  <p>The guidelines do not apply to the publication of stand-alone data assets or analysis pipelines.</p>
  <FileLink type="docs" href="https://docs.google.com/document/d/1YBWrzm4bD4exkVM7bBWOFU-AWkQ2kOYbi-cmbEPuVhY/edit#heading=h.4m9sfs06amc">BDC Publications Guidelines</FileLink>
  <h2>BDC Publications and Engagement Form</h2>
  <p>Please fill out this form to help the BDC Coordinating Center plan for and track Consortium publications and engagement as one measure of impact. The BDC Coordinating Center may reply if appropriate.</p>
  <p>For questions or comments, please contact <a href="mailto:bdc3@renci.org">bdc3@renci.org</a>.</p>
  <FileLink type="docs" href="https://docs.google.com/forms/d/e/1FAIpQLSeb_oHP-oCBPvbdBe61azAcNMqMM9PB1hErnxqKdkNudN0afg/viewform?usp=sf_link">BDC Publications and Engagement Form</FileLink>
</div>
