---
import Base from '@layouts/Base.astro';
---

<Base title="Monitor Dashboard">
  <h1>Monitor Dashboard</h1>

  <p>View the consortium monitoring dashboard for real-time status updates on platform services and infrastructure.</p>
  <p>Username: developer</p>
  <p>Password: biodatacatalyst</p>
  <a href="https://itwg.apps.renci.org/" class="usa-button" target="_blank" rel="noopener noreferrer"> Open Monitor Dashboard </a>
</Base>
