---
import FileLink from '@components/common/FileLink.astro';
---

<div>
  <h1>BDC Messaging & Branding Guidelines</h1>
  <h2>Introduction</h2>
  <p>
    The BDC Messaging and Branding Guidelines provide the consortium with required and recommended messages and design strategies to use on websites, presentation slide decks, and other marketing. The goals of Messaging & Branding Guidelines are to create a unified voice and cohesive look and feel
    across BDC.
  </p>
  <h2>Table of Contents</h2>
  <ul>
    <li>BDC Messaging Platform</li>
    <li>BDC Style Guide & Logos</li>
    <li>Marketing Collateral</li>
    <li>Icons</li>
  </ul>
  <h2>BDC Messaging Platform</h2>
  <p>A messaging platform describes what an organization should say about itself. It helps people connect with an organization and describes the value to the audience. It should be reviewed and updated every year and more often if the organization grows or changes at a faster pace. google doc</p>
  <FileLink href="https://docs.google.com/document/d/1WTnOdJESiWmmQPrXLwVr4vWF7RR7CkywxnNgDgi5lYg/edit" type="docs">BDC Messaging Platform</FileLink>
  <h2>BDC Style Guide & Logos</h2>
  <p>
    The NHLBI BioData Catalyst® (BDC) Style Guide is a <i><u>required resource</u></i> for the use of any BDC logos. The guide was developed by NHLBI and the BioData Catalyst Coordinating Center and its guidelines must be adhered to. If there is a portion of the guide that your team is unable to implement,
    please reach out to the BDC Consortium.
  </p>
  <FileLink type="pdf" href="https://www.biodatacatalyst.org/assets/BrandingContent/BioDataCatalyst-StyleGuide.pdf">NHLBI BioData Catalyst® (BDC) Style Guide</FileLink>
  <FileLink type="zip" href="https://www.biodatacatalyst.org/assets/BrandingContent/BDC-Logos.zip">Click to download a zip file of all BDC and BDC Powered by logos</FileLink>
  <h2>Marketing Collateral</h2>
  <p>
    <b><u>START HERE:</u></b> Fill out this quick, four-question <a href="https://docs.google.com/forms/d/e/1FAIpQLSdgBbDEVPXLELSfXta-0hnJseVxKyaisHPf3XRJmvD2F2-dPQ/viewform" target="_blank" rel="noopener noreferrer">Presentation Request Form</a> to request BDC3 support with presentation design, speaker
    notes, and editorial/branding review.
  </p>
  <ul>
    <li>
      BDC <a href="https://docs.google.com/presentation/d/1YQ6zsBsDNLu-_qpV_dJp9VKaWMQLIFAt3FIyV-4YcsY/edit?slide=id.g3c915c0d721_0_373#slide=id.g3c915c0d721_0_373" target="_blank" rel="noopener noreferrer">Google Slides</a> | <a
        href="https://docs.google.com/presentation/d/10ckwZI4U4kTx5z_c33EtMIiPUFt7djbz/edit?usp=sharing&ouid=113035249161401512928&rtpof=true&sd=true"
        target="_blank"
        rel="noopener noreferrer">PowerPoint</a
      > - Gray Intro
    </li>
    <li>
      BDC <a href="https://docs.google.com/presentation/d/1Y33SoEyLFOmERUk0gB9f5kFmhoKb2TLnmZLx_OM87o4/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Google Slides</a> | <a
        href="https://docs.google.com/presentation/d/1o8lya5X9k2Trxe8Cl1riBIFzmHoPourm/edit?usp=sharing&ouid=113035249161401512928&rtpof=true&sd=true"
        target="_blank"
        rel="noopener noreferrer">PowerPoint</a
      > - Blue Intro
    </li>
    <li>
      BDC <a href="https://docs.google.com/presentation/d/1AKc0j9zuIFBszvRFHmDChEVua3PPG6GraxWvD0zrVQc/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Google Slides</a> | <a
        href="https://docs.google.com/presentation/d/1fnIJ3p8Rh6jNuACrFs9lzLoYUm8zsab5/edit?usp=sharing&ouid=113035249161401512928&rtpof=true&sd=true"
        target="_blank"
        rel="noopener noreferrer">PowerPoint</a
      > - White Intro
    </li>
  </ul>
  <FileLink type="slides" href="https://docs.google.com/presentation/d/1OrFRMieIM08lCspzoccL6cusARvZu2bUVCLLZ_sxVPE/edit#slide=id.p">NHLBI BDC Fellows Update, Jan 2026</FileLink>
  <FileLink type="docs" href="https://docs.google.com/document/d/1lDY5lyU1bOI_xSV2hkdvA65p9rYw81Tt2-u2C_T4prU/edit">Letterhead Link</FileLink>
  <h2>Icons</h2>
  <p>
    A group of icons has been created to unify the visual representation of concepts across BDC. They were assigned colors based on themes, but are also available in gray. <a
      href="https://docs.google.com/presentation/d/1NRtENcONIptQF4mr9i2bFh3kYlMwCBocs2c9KtyXax0/edit?usp=sharing"
      target="_blank"
      rel="noopener noreferrer">A key is available here</a
    >.
    <br />
    <a href="https://www.dropbox.com/sh/3i1n42sggk4h5z5/AAApmEcTpEEw3OQ1gTAFsBNda/BioData%20Catalyst/Icons/Color%20Icons?dl=0&subfolder_nav_tracking=1" target="_blank" rel="noopener noreferrer">Color Icons</a>
    <br />
    <a href="https://www.dropbox.com/sh/3i1n42sggk4h5z5/AAAhcELub8DJMa6vQF3I3_yHa/BioData%20Catalyst/Icons/Gray%20Icons?dl=0&subfolder_nav_tracking=1" target="_blank" rel="noopener noreferrer"> Gray Icons </a>
  </p>
  <p>Please contact <a href="mailto:bdc3@renci.org">bdc3@renci.org</a> with any questions.</p>
</div>
