---
import Base from '@layouts/Base.astro';
---

<Base title="Marketing">
  <h1>Marketing</h1>

  <h2>Publications and Engagement Form</h2>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text">Publications and engagement form coming soon.</p>
    </div>
  </div>

  <h2 class="margin-top-4">Publications Guidelines</h2>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text">Publications guidelines coming soon.</p>
    </div>
  </div>

  <h2 class="margin-top-4">Branding Guide & Sample Materials</h2>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text">Branding guide and sample materials coming soon.</p>
    </div>
  </div>
</Base>
