<div>
  <h1>April 2026 Bi-Annual Meeting</h1>
  <h2 id="event-info">Welcome to the April 2026 Virtual Bi-Annual Meeting</h2>
  <p>The April 30-May 1 BioData Catalyst Virtual Bi-Annual Meeting (BAM) is organized by the BioData Catalyst Coordinating Center (BDC3) and the National Heart, Lung, and Blood Institute (NHLBI) of the National Institutes of Health (NIH). This will be a virtual meeting.</p>
  <p>
    For questions, please contact Chelsea Davis at
    <a href="mailto:cdavis@renci.org">cdavis@renci.org</a>, or contact the Coordinating Center at <a href="mailto:bdc3@renci.org">bdc3@renci.org</a>.
  </p>
  <h2 id="meeting-agenda">Meeting Agenda</h2>
  <p><i>Please note the below agenda is subject to change</i></p>
  <iframe
    title="April 2026 Virtual Bi-Annual Meeting Agenda"
    src="https://docs.google.com/spreadsheets/u/0/d/e/2PACX-1vQwcmwLzf0FWu5NbW8_91DdKPP5g7dklI220abiYF2LXZ_eZ2QPQBWM6MQftoiwFfEq8BLVXySrL2WN/pubhtml/sheet?headers=false&gid=352262919&range=A6:C33"
    width="100%"
    height="600"
    frameborder="0"
    style="border: none;"></iframe>
  <p><a href="#top">Back to top</a></p>

  <h2 id="attendee-agreement">Attendee Agreement</h2>
  <p><b>Note: When registering for meetings, attendees agree to the following:</b></p>
  <p>
    The demo presentations during this meeting may contain controlled access, participant-level data. By registering for this event, I agree to respect the appropriate agreements and licenses that govern the use of this type of data. I agree to not take photographs, screenshots or videos of the
    data, derived data or aggregate data from the demo presentations. I agree to not use any other methods to record or replicate the data and I will not attempt to recreate any associated software results or analyses that may enable recapitulation of the original data from the demo presentations.
  </p>
  <h2 id="registration-form">Registration Form</h2>
  <iframe title="April 2026 Virtual Bi-Annual Meeting Registration Form" src="https://docs.google.com/forms/d/e/1FAIpQLSfNu6FJlxqcpqMVbBtQ6E9EvJ4-F7T5K65302ez0FTYWGRyXQ/viewform?usp=sharing&ouid=104512725601461340103" width="100%" height="600" frameborder="0" style="border: none;"></iframe>
  <p><a href="#top">Back to top</a></p>
</div>
