<nav aria-label="Quick Links">
  <h2>Quick Links</h2>
  <ul class="usa-sidenav">
    <li class="usa-sidenav__item">
      <a href="#event-info">Event Info</a>
    </li>
    <li class="usa-sidenav__item">
      <a href="#meeting-agenda">Meeting Agenda</a>
    </li>
    <li class="usa-sidenav__item">
      <a href="#attendee-agreement">Attendee Agreement</a>
    </li>
    <li class="usa-sidenav__item">
      <a href="#registration-form">Registration Form</a>
    </li>
  </ul>
</nav>
