---
import { CONSORTIUM_NEW_MEMBER_FORM_EMBED_URL } from '../../constants/consortium-google-forms';
---

<div>
  <h1>New Member Form</h1>
  <p class="usa-intro margin-top-1">Use this request form to add a new consortium member and assign their team access, role, and collaboration groups.</p>

  <div class="usa-alert usa-alert--info margin-top-2 margin-bottom-4" role="status">
    <div class="usa-alert__body">
      <h2 class="usa-alert__heading">Before you submit</h2>
      <p class="usa-alert__text margin-0">New project managers should be assigned the Project Manager role so they are included in PM meeting invites and can request new consortium members.</p>
    </div>
  </div>

  <iframe title="BDC New Member Form" src={CONSORTIUM_NEW_MEMBER_FORM_EMBED_URL} width="100%" height="600" frameborder="0" style="border: none;"></iframe>
</div>
