---
import Base from '@layouts/Base.astro';
---

<Base title="BioData Catalyst Consortium">
  <h1>BioData Catalyst Consortium</h1>
  <p class="usa-intro">
    Welcome to the BioData Catalyst Consortium member portal.
  </p>
</Base>
