<div>
  <h1>Meeting Materials</h1>
  <p>Posters, Presentations, and other materials presented at the BDC consortium Face-to-Face meetings are collected in the following sub-pages, grouped by meeting date.</p>
  <p>*Note: When registering for Face-to-Face meetings, attendees agree to the following:</p>
  <cite>
    The demo presentations during this meeting may contain controlled access, participant-level data. By registering for this event, I agree to respect the appropriate agreements and licenses that govern the use of this type of data. I agree to not take photographs, screenshots or videos of the
    data, derived data or aggregate data from the demo presentations. I agree to not use any other methods to record or replicate the data and I will not attempt to recreate any associated software results or analyses that may enable recapitulation of the original data from the demo presentations.
  </cite>
</div>
