---
import '../styles/global.scss';
import { ClientRouter } from 'astro:transitions';
import SiteFooter from '@components/layout/SiteFooter.astro';
import { SiteHeader } from '@components/layout/SiteHeader';

interface Props {
  title: string;
}

const { title } = Astro.props;
const displayTitle = title.includes('BioData Catalyst')
  ? title
  : `${title} | BioData Catalyst`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{displayTitle}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ClientRouter />
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      main {
        flex: 1;
      }
    </style>
  </head>
  <body data-pagefind-ignore>
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    <SiteHeader client:only="react" transition:persist />
    <main id="main-content" data-pagefind-body>
      <slot />
    </main>
    <SiteFooter />
  </body>
</html>
