---
import InPageNav from '@components/layout/InPageNav.astro';
import Base from '@layouts/Base.astro';
import type { MarkdownHeading } from 'astro';

interface Props {
  frontmatter: {
    title: string;
    lastReviewed?: string;
    in_page_nav?: boolean;
  };
  headings: MarkdownHeading[];
}

const { frontmatter, headings }: Props = Astro.props;
const showNav = frontmatter.in_page_nav !== false;
---

<Base title={frontmatter.title}>
  <section class="usa-section">
    <div class="grid-container">
      <h1>{frontmatter.title}</h1>
      {
        frontmatter.lastReviewed && (
          <p style=" font-size: 0.875rem; margin-top:0">
            Last Reviewed: {frontmatter.lastReviewed}
          </p>
        )
      }

      {
        showNav ? (
          <InPageNav headings={headings}>
            <slot />
          </InPageNav>
        ) : (
          <div class="usa-prose--full-width usa-prose">
            <slot />
          </div>
        )
      }
    </div>
  </section>
</Base>
