---
import { CONSORTIUM_ONBOARDING_FORM_EMBED_URL } from '../../constants/consortium-google-forms';
---

<div>
  <h1>Consortium Onboarding Form</h1>

  <p>
    <strong>You must complete this form so that the BDC Coordinating Center (BDC3) can give you full access to BDC Consortium Resources.</strong>
  </p>

  <iframe title="Consortium Onboarding Form" src={CONSORTIUM_ONBOARDING_FORM_EMBED_URL} width="100%" height="600" frameborder="0" style="border: none;"></iframe>
</div>
