---
import Icon from '@components/Icon.astro';
import Link from '@components/link/Link.astro';

const { items } = Astro.props;
---
<ul class="usa-list usa-list--unstyled">
  {items.map(item => (
    <li class="usa-collection__item">
      <div class="usa-collection__body">
        <h4 class="usa-collection__heading">
          <Link to={item.data.url}>{item.data.title}</Link>
        </h4>

        <ul class="usa-collection__meta">
          <li class="usa-collection__meta-item">
            <time datetime={item.data.date.toISOString()}>
              {item.data.date.toLocaleDateString('en-US', {
                month: 'long',
                day: 'numeric',
              })}
            </time>
          </li>
          <li class="usa-collection__meta-item">
            {item.data.source}
          </li>
          {
            item.data.paywall && (
              <li class="usa-collection__meta-item text-thin">
                <Icon name="shield" />
                <span style="margin-left: 0.25rem;">May require subscription</span>
              </li>
            )
          }
        </ul>
      </div>
    </li>
  ))}
</ul>
<style>
  .usa-collection__meta {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .usa-collection__meta-item {
    display: inline-flex;
    align-items: center;
    margin-right: 0;
  }

  .usa-collection__meta-item:not(:first-child)::before {
    content: '·';
    margin: 0 0.5rem;
    font-weight: 800;
  }
</style>