---
import FileLink from '@components/common/FileLink.astro';
import Directory from '@layouts/Directory.astro';
---

<Directory title="BDC Request for Comment (RFC) Process">
  <div>
    <h1>BDC Request for Comment (RFC) Process</h1>

    <p>The BDC RFC Process is modeled after industry RFC processes and includes three basic steps:</p>

    <ul class="usa-list">
      <li><strong>Team-DRAFT:</strong> Google document drafted by &amp; shared amongst the submitting team</li>
      <li><strong>BDC-DRAFT:</strong> Google document shared with the STAGE Consortium for comment and iteration</li>
      <li><strong>BDC-RFC:</strong> the final Google document posted for optional comment (but not alteration) from the Consortium</li>
    </ul>

    <p>BDC Consortium members have approved the use of an RFC process to facilitate consensus, discussions, dissemination of information, key decisions, and solutions.</p>

    <div class="margin-y-3">
      <FileLink href="https://docs.google.com/document/d/1sM7BtUuyE5-PKaanOx01RUagosPE6mVrNDkNzK5GziQ/edit?usp=sharing">BDC Request For Comment (RFC) Implementation Process</FileLink>
    </div>
    <div class="margin-y-3">
      <FileLink href="https://docs.google.com/spreadsheets/d/1eQ6krJWqIHiAMher7PYZmdTBfJPNwho2ycq4hV-RQVY/edit?usp=sharing">List and Status of BDC-DRAFTs and BDC-RFCs</FileLink>
    </div>

    <h2>Submitted BDC-DRAFTs</h2>

    <ul class="usa-list usa-list--unstyled">
      <li><a href="/consortium-resources/rfcs/stage-draft-1" class="usa-link">STAGE-DRAFT-1: DataSTAGE Strategic Planning Decisions 2019-2021</a></li>
      <li><a href="/consortium-resources/rfcs/stage-draft-2" class="usa-link">STAGE-DRAFT-2: DataSTAGE Strategic Framework, Implementation Plan, and Project Management Plan Nomenclature</a> <em>[Closed]</em></li>
      <li><a href="/consortium-resources/rfcs/stage-draft-3" class="usa-link">STAGE-DRAFT-3: Data Harmonization Working Group Workshop Report</a> <em>[Closed]</em></li>
      <li><a href="/consortium-resources/rfcs/bdcatalyst-draft-4" class="usa-link">BDC-DRAFT-4: DAWG Data Upload and Download Policy and Recommendations for Users</a> <em>[Closed]</em></li>
      <li><a href="/consortium-resources/rfcs/stage-draft-5" class="usa-link">STAGE-DRAFT-5: Subject Identifier for MVP</a> <em>[Closed]</em></li>
      <li><a href="/consortium-resources/rfcs/bdcatalyst-draft-6" class="usa-link">BDC-DRAFT-6: DAWG Data Upload and Download Policy and Recommendations for DataSTAGE Platforms</a> <em>[Closed]</em></li>
      <li><a href="/consortium-resources/rfcs/bdcatalyst-draft-7" class="usa-link">BDC-DRAFT-7: BioData Catalyst Data Generator Guidance</a> [Closed]</li>
      <li><a href="/consortium-resources/rfcs/bdcatalyst-draft-8" class="usa-link">BDC-DRAFT-8: BioData Catalyst File-Level Minimal Metadata Model</a> [Closed]</li>
      <li><a href="/consortium-resources/rfcs/bdcatalyst-draft-9" class="usa-link">BDC-DRAFT-9: Managing Breaking Software Changes</a> [Closed]</li>
      <li><a href="/consortium-resources/rfcs/bdcatalyst-draft-10" class="usa-link">BDC-DRAFT-10: NHLBI BioData Catalyst Ecosystem Security Statement</a> [Closed]</li>
      <li><a href="/consortium-resources/rfcs/bdcatalyst-draft-11" class="usa-link">BDC-DRAFT-11: NHLBI BioData Catalyst Source of Truth for Ecosystem Data</a> [Closed]</li>
      <li><a href="/consortium-resources/rfcs/bdcatalyst-draft-12" class="usa-link">BDC-DRAFT-12: NHLBI BioData Catalyst Submission Files</a> [Closed]</li>
      <li><a href="/consortium-resources/rfcs/bdcatalyst-draft-13" class="usa-link">BDC-DRAFT-13: NHLBI BioData Catalyst Open Access Data Statement</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-draft-15" class="usa-link">BDC-DRAFT-15: NHLBI BioData Catalyst Validation of Data Dictionary Fields</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-draft-16" class="usa-link">BDC-DRAFT-16: NHLBI BioData Catalyst Data Definitions</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-draft-17" class="usa-link">BDC-DRAFT-17: NHLBI BioData Catalyst Ingest New Data Types</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-draft-18" class="usa-link">BDC-DRAFT-18: NHLBI BioData Catalyst Open Access Data</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-draft-19" class="usa-link">BDC-DRAFT-19: NHLBI BioData Catalyst Interop Search and Study Data Transfer</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-draft-20" class="usa-link">BDC-DRAFT-20: NHLBI BioData Catalyst ADRESS Interview Results</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-draft-21" class="usa-link">BDC-DRAFT-21: NHLBI BioData Catalyst Data Standards for Electrophysiology Assay Profiles</a> [Closed]</li>
      <li><a href="/consortium-resources/rfcs/bdc-draft-22" class="usa-link">BDC-DRAFT-22: NHLBI BioData Catalyst Data Standards for Small Molecule Profiles</a> [Closed]</li>
      <li><a href="/consortium-resources/rfcs/bdc-draft-23" class="usa-link">BDC-DRAFT-23: NHLBI BioData Catalyst Data Standards for Nucleotide-Based Profiles</a> [Closed]</li>
      <li><a href="/consortium-resources/rfcs/bdc-draft-24" class="usa-link">BDC-DRAFT-24: NHLBI BioData Catalyst Data Standards for Clinical and Preclinical Data</a> [Closed]</li>
      <li><a href="/consortium-resources/rfcs/bdc-draft-25" class="usa-link">BDC-DRAFT-25: NHLBI BioData Catalyst Data Standards for Medical and Microscopy Imaging</a> [Closed]</li>
      <li><a href="/consortium-resources/rfcs/bdc-draft-26" class="usa-link">BDC-DRAFT-26: NHLBI BioData Catalyst Data Standards for Laboratory Assay Profiles</a> [Closed]</li>
      <li><a href="/consortium-resources/rfcs/bdc-draft-27" class="usa-link">BDC-DRAFT-27: NHLBI BioData Catalyst Imaging Data Ingestion</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-draft-28" class="usa-link">BDC-DRAFT-28: NHLBI BioData Catalyst Medical Image De-Identification Protocol</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-draft-29" class="usa-link">BDC-DRAFT-29: NHLBI BioData Catalyst Clinical Data API Use Cases and Current State Landscape Assessment</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-draft-31" class="usa-link">BDC-DRAFT-31: NHLBI BioData Catalyst DOIs</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-draft-34" class="usa-link">BDC-DRAFT-34: NHLBI BioData Catalyst PFB DRS URI Naming Convention</a></li>
    </ul>

    <h2>Submitted BDC-RFCs</h2>

    <ul class="usa-list usa-list--unstyled">
      <li><a href="/consortium-resources/rfcs/stage-rfc-1" class="usa-link">STAGE-RFC-1: DataSTAGE User Narratives June 2019</a></li>
      <li><a href="/consortium-resources/rfcs/bdcatalyst-rfc-2" class="usa-link">STAGE-RFC-2: DataSTAGE Strategic Planning Nomenclature</a></li>
      <li><a href="/consortium-resources/rfcs/stage-rfc-3" class="usa-link">STAGE-RFC-3: Data Harmonization Working Group Workshop Report</a></li>
      <li><a href="/consortium-resources/rfcs/stage-rfc-4" class="usa-link">STAGE-RFC-4: Workplan 3.0 DataSTAGE User Narratives</a></li>
      <li><a href="/consortium-resources/rfcs/stage-rfc-5" class="usa-link">STAGE-RFC-5: Subject Identifier for MVP</a></li>
      <li><a href="/consortium-resources/rfcs/bdcatalyst-rfc-6" class="usa-link">BDC-RFC-6: DAWG Data Upload and Download Policy and Recommendations for Users</a></li>
      <li><a href="/consortium-resources/rfcs/bdcatalyst-rfc-7" class="usa-link">BDC-RFC-7: DAWG Data Upload and Download Policy and Recommendations for BioData Catalyst Platforms</a></li>
      <li><a href="/consortium-resources/rfcs/bdcatalyst-rfc-8" class="usa-link">BDC-RFC-8: Workplan 3.1 Consortium Statement of Work &amp; Gantt charts</a></li>
      <li><a href="/consortium-resources/rfcs/bdcatalyst-rfc-9" class="usa-link">BDC-RFC-9: Application Developer Guide - 1.0</a></li>
      <li><a href="/consortium-resources/rfcs/bdcatalyst-rfc-10" class="usa-link">BDC-RFC-10: BioData Catalyst Minimal Metadata Model</a></li>
      <li><a href="/consortium-resources/rfcs/bdcatalyst-rfc-11" class="usa-link">BDC-RFC-11: NHLBI BioData Catalyst Ecosystem Security Statement</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-rfc-14" class="usa-link">BDC-RFC-14: NHLBI BioData Catalyst Consortium Glossary</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-rfc-15.1" class="usa-link">BDC-RFC-15.1: NHLBI BioData Catalyst Validation of Data Dictionary Fields</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-rfc-16" class="usa-link">BDC-RFC-16: NHLBI BioData Catalyst Data Definitions</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-rfc-17" class="usa-link">BDC-RFC-17: NHLBI BioData Catalyst Ingest New Data Types</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-rfc-18" class="usa-link">BDC-RFC-18: NHLBI BioData Catalyst Open Access Data</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-rfc-19" class="usa-link">BDC-RFC-19: NHLBI BioData Catalyst Interop Search and Study Data Transfer</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-rfc-20" class="usa-link">BDC-RFC-20: NHLBI BioData Catalyst ADRESS Interview Results</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-rfc-21" class="usa-link">BDC-RFC-21: NHLBI BioData Catalyst Data Standards for Electrophysiology Assay Profiles</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-rfc-22" class="usa-link">BDC-RFC-22: NHLBI BioData Catalyst Data Standards for Small Molecule Profiles</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-rfc-23" class="usa-link">BDC-RFC-23: NHLBI BioData Catalyst Data Standards for Nucleotide-Based Profiles</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-rfc-24" class="usa-link">BDC-RFC-24: NHLBI BioData Catalyst Data Standards for Clinical and Preclinical Data</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-rfc-25" class="usa-link">BDC-RFC-25: NHLBI BioData Catalyst Data Standards for Medical and Microscopy Imaging</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-rfc-26" class="usa-link">BDC-RFC-26: NHLBI BioData Catalyst Data Standards for Laboratory Assay Profiles</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-rfc-28" class="usa-link">BDC-RFC-28: NHLBI BioData Catalyst Medical Image De-Identification Protocol</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-rfc-30" class="usa-link">BDC-RFC-30: NHLBI BioData Catalyst Social Determinants of Health (SDoH) Common Data Element Mapping</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-rfc-32" class="usa-link">BDC-RFC-32: NHLBI BioData Catalyst SDoH Part II</a></li>
      <li><a href="/consortium-resources/rfcs/bdc-rfc-33" class="usa-link">BDC-RFC-33: NHLBI BioData Catalyst SDoH Part III</a></li>
    </ul>
  </div>
</Directory>
